.canvas {
    border: solid 1px black;
    width: 280px;
    height: 280px;
}

.clear-button {
    width: 100px;
    height: 30px;
    background-color: rgb(128, 128, 128);
    color: white;
    margin: 5px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    font-weight: bold;
}

.clear-button:active{
    border:1px solid #334c66;
    background-color: rgb(128, 16, 16);
    color:#e0ebf5;
}

.send-button {
    width: 100px;
    height: 30px;
    background-color: rgb(16, 16, 128);
    color: white;
    margin: 5px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    font-weight: bold;
}

.send-button:active{
    border:1px solid #334c66;
    background-color: rgb(128, 16, 16);
    color:#e0ebf5;
}

.answer {
    color: red;
    font-size: 24px;
}
